body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#amount, #token, #payment-response{
    height: 44px;
    border-radius: 7px;
    border: 1px solid #bbbbbb;
    text-align: center;
    font-size: medium;
}

#token{
  width: 700px;
  height: 50px;
}

#payment-response {
  text-align: left;
  height: 500px;
}